@import "../../../../../assets/styles/scss/_variables.scss";

#battleGround {
  position: relative;
  margin-top: 15px;
  display: block;
  height: 600px;
  width: 1200px;
  overflow: hidden;
}

.send-message-form {
  margin-top: 5px;
}

.author {
  font-size: 15px;
  font-weight: 700;
}

[class^='hero-was-killed-blood-'] {
  height: 60px;
  width: 60px;
  z-index: 15;
  background-size: 60px 60px !important;
  position: absolute;
}

.hero-was-killed-blood-1 {
  background: url("../images/blood_1.png");
}

.hero-was-killed-blood-2 {
  background: url("../images/blood_2.png");
}

.hero-was-killed-blood-3 {
  background: url("../images/blood_3.png");
}

.hero-was-killed-blood-4 {
  background: url("../images/blood_4.png");
}

.hero-was-killed-blood-5 {
  background: url("../images/blood_5.png");
}

.all-stats .player-stats {
  border: 1px solid #efdede;
  display: inline-block;
  width: 60px;
  height: 50px;
  margin: 2px;
  padding: 3px;
  text-align: center;
}

.player-stats .player-name {
  font-size: 15px;
}

.player-stats .player-score {
    font-weight: 700;
    font-size: 18px;
}