.container

    div.col-md-3

        form.send-message-form
            input(type="text", maxlength="30", name="message", [(ngModel)]="chatMessage")

            button.ui-button-danger(type="submit", (click)="sendSocketMessage()") Send message

        div
            p(*ngFor="let message of allMessages")
                span.author {{message.user}}:
                span  {{ message.message }}

    div.col-md-9
        playground#battleGround(#heroesContainer="heroesContainer")

        .all-stats

            .player-stats(*ngFor="let score of scores")
                .player-name {{ score.playerName }}
                .player-score {{ score.value }}