.heroContainer{
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  z-index: 20;
}

.heroContainer .user-name {
  font-size: 15px;
  position: absolute;
  top: -20px;
  font-weight: 700;
  text-align: center;
  width: 40px;
  left:-5px;
}