.container

    div.col-md-12.greeting.text-center

        p.greeting-intro Добро пожаловать бла бла бла... в наикрутейшую, супер-мего-игру(Название пока не придумал).

        p Are u ready?

        .text-center
            button(routerLink="/settings") Let's start!!! mazafaka!!!