.container

    div.col-md-12.settings

        .text-center

            p Set up your super nickname!

            input(type="text", name="nickname", [(ngModel)]="user.name", maxlength="5", placeholder="max 5 symbols")

            p chooooose your super-hero then!!!

        .col-md-3(*ngFor="let hero of heroes")
            .hero((click)="selectHero(hero)", [ngClass]="{'selected': checkIfHeroSelected(hero)}")
                img([ngStyle]="setHeroStyle(hero)")
                | {{ hero.name }}

        .clearfix
        br

        .text-center
            button(routerLink="/fun", (click)="saveData()", *ngIf="validate()") Let's fuuuun yeeeahhhh mazafaka!!!